h1 {
    text-align: center;
    width: 100%;
}
p {
    display: inline-block;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.div-master {
    background-color: #B5E5CF;
}
body {
    background-color: #B9B7BD;
}
.body-master {
    background-color: #B9B7BD;
}
.dropdown {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.appointments {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 100%;
}
.appointments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #122620;
    color: white;
  }
  .appointments td, .appointments th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.appointments tr:nth-child(even){background-color: #f2f2f2;}
.appointments tr:nth-child(odd){background-color: #f4ebd0;}
.appointments tr:hover {background-color: #2de0da;}

.appTableWrapper {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.button-bar {
    width: 100%;
    display:flex;
    justify-content:space-between;
    justify-content: space-around;
    text-align: center;
    zoom: 1;

}
.search-form {
    width: 100%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}
.search-button {
    border-radius: 4px;
    width:20%;
    padding-left: 2%;
    background: #b68d40;
    padding: 12px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.search {
    position: relative;
    width: 80%;
    padding-left: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.search-button:hover{
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

